@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



body {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    color: rgb(0, 0, 0);
    overflow-x: hidden;
}

body {
    background-color: #ffffff;
    background-attachment: fixed;
}

/* Elementos de uso geral */
a {
    color: steelblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header img {
    margin-left: auto;
    margin-right: auto;
    width: 23rem;
}

header {
    
    padding-bottom: 30px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header>i{
    padding: 2rem;
    font-size: 2rem;
    margin-top: 1.8rem;
}
header>i:hover{
    cursor: pointer;
}

.header-logo {
    flex: 1;
    /* Isso faz com que o logo ocupe todo o espaço disponível, centralizando-o */
    display: flex;
    justify-content: center;
    /* Isso centraliza a imagem horizontalmente */
}



.header-logo img {
    justify-content: center;
    display: block;
    /* Garante que a imagem seja tratada como um bloco */
    margin: 0 auto;
    /* Centraliza a imagem horizontalmente */
    max-width: 100%;
    /* Garante que a imagem não ultrapasse a largura da div */
}

.header-search {
    margin-right: 3rem;
    width: 26rem;
    height: 3rem;
    padding: 1rem;

}

.header-search form {

    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 1px;

}

.header-search form input {
    flex-grow: 2;
    border: 0;
    padding: 0.5rem;
    border-radius: 50%;
    float: left;
}

.header-search form input:focus {
    outline: none;
}

.search-icon {
    border-radius: 50%;
    padding: .5rem 0.70rem;
}

*/ .header-search form {


    height: 100%;
    display: flex;
    align-items: center;
}

.header-search form input,
.header-search form button {
    padding: .5rem;
    border: none;
    background-color: white;
}

.header-search form input {
    flex-grow: 1;
    border-radius: .35rem 0 0 .35rem;
}

.header-search form button {
    border-radius: 0 .35rem .35rem 0;
    color: grey;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open main {
    transform: translateX(16rem);
}

.nav {
    
    width: 16rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    transform: translateX(-16rem);
    transition: transform 0.2s;
    overflow: hidden;

}

.nav-close {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 1rem 1.5rem;
    color: #dddddd;
    margin-left: auto;
    cursor: pointer;
}


.nav-links-container a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
    text-decoration: none;
    color: #dddddd;
}

.nav-links-container a span {
    font-size: 1.3rem;
}

.nav__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
    text-decoration: none;
    color: #dddddd;
  }

.nav__text {
    padding: 2rem;
    font-size: 4rem;
    font-family: "Assistant", sans-serif;
    font-weight: 500;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
}

.validButton {
    background-color: steelblue;
}

.invalidButton {
    background-color: grey;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background-color: rgb(0, 0, 0);
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer div {

    flex-grow: 1;
}

footer a {
    color: white;
}

.copyright {
    color: white;
}


    #wrap {
        position: relative;
        width: 100%;
        height: 100%;
        
        margin: auto;
        display: flex;
        flex-direction: column;
    }


main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    transition: transform 0.2s;
}

main article {
    
    flex-grow: 1;
    background-color: rgb(216, 216, 216);
}

article {
    padding: 5rem;
}

/* Elementos de formulários */
input,
textarea,
button {
    font-family: inherit;
    font-size: inherit;
}

/* Estilos gerais para dispositivos móveis (mobile-first) */

/* Outros estilos aqui... */

/* Estilos para dispositivos móveis */
@media only screen and (max-width: 767px) {
    /* Estilos específicos para dispositivos móveis */

    body {
        padding-bottom: 50px; /* Adicione o valor que for necessário para o espaço do footer */
    }

    header {
        
        flex-direction: column;
        align-items: center;
    }

    .header-logo img {
        margin-left: 0;
        /* Remove a margem à esquerda */
        margin-bottom: 1rem;
        /* Adiciona margem inferior */
    }

    .header-search {
        margin-right: 0;
        /* Remove a margem à direita */
        margin-bottom: 1rem;
        /* Adiciona margem inferior */
        width: 100%;
        /* Define a largura total */
    }

    .header-search form input {
        flex-grow: 1;
        border-radius: .35rem;
        /* Ajusta o raio da borda */
        border-top-right-radius: 0;
        /* Remove o arredondamento na parte superior direita */
        border-bottom-right-radius: 0;
        /* Remove o arredondamento na parte inferior direita */
    }

    .search-icon {
        border-radius: .35rem;
        /* Ajusta o raio da borda */
        border-top-left-radius: 0;
        /* Remove o arredondamento na parte superior esquerda */
        border-bottom-left-radius: 0;
        /* Remove o arredondamento na parte inferior esquerda */
    }

    nav {
        flex-direction: row;
        align-items: center;
    }

    nav a {
        padding: 1rem;
        /* Aumenta o preenchimento */
    }

    footer {
        flex-direction: column;
        align-items: center;
        
    }
}
