body {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    color: rgb(0, 0, 0);
}

body {
    background-color: #ffffff;
    background-attachment: fixed;
}

.article:hover {
    background-color:rgb(105, 105, 105);
}
.view_box {
    
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    width: 60%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    overflow: hidden; /* Para garantir que a imagem não ultrapasse as bordas do contêiner */
}

.view_box:hover {
    transform: translateY(-10px);
}


.view_box img {
    width: 100%;
    height: 18rem;
 /* Para manter a proporção da imagem */
    
    border-radius: 10px;
    margin-bottom: 15px;
}
 .view_box-container{
    width: calc(33.33% - 20px); /* Cada produto ocupa 1/3 do espaço disponível na linha */
}
.view_box-row {
    display: flex; /* Faz com que os produtos dentro da linha sejam exibidos em linha */
    justify-content: space-between; /* Distribui os produtos uniformemente na linha */
    margin-bottom: 20px; /* Espaçamento entre as linhas de produtos */
}
.view_box h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.view_box p {
    margin-top: 0;
    color: #888;
}

.hamburger-menu {
    display: none; /* Por padrão, o menu de hambúrguer não é exibido */
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
}

/* Estilos para o menu quando expandido */
.menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu.show {
    display: block;
}
@media screen and (max-width: 768px) {
    .view_box-row {
        
        display: block; /* Altera o layout para exibir produtos em uma coluna */
    }
    .view_box-container {
        
        margin-left:auto;
        margin-right: auto;
        width: 60%; /* Define a largura dos contêineres de produtos para ocupar toda a largura da tela */
        margin-bottom: 40px; /* Adiciona um espaço entre os produtos */
    }
    .view_box {
        
        margin-left: auto;
        margin-right: auto;
        width: 100%; /* Define a largura dos produtos para ocupar toda a largura do contêiner */
    }
    .view_box img{
        
        height: auto;
        align-items: center;
        object-fit: contain;
        width: auto;
    }
    article {
        padding: 0rem;
    }
    
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .view_box {margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}
}