body {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    color: rgb(0, 0, 0);
}

body {
    background-color: #ffffff;
    background-attachment: fixed;
}

.article:hover {
    background-color: rgb(105, 105, 105);
}


.view_box:hover {
    transform: translateY(-10px);
}




.view_box-row {
    display: flex;
    /* Faz com que os produtos dentro da linha sejam exibidos em linha */
    justify-content: space-between;
    /* Distribui os produtos uniformemente na linha */
    margin-bottom: 20px;
    /* Espaçamento entre as linhas de produtos */
}

.view_box h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.view_box p {
    margin-top: 0;
    color: #888;
}

.hamburger-menu {
    display: none;
    /* Por padrão, o menu de hambúrguer não é exibido */
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
}

/* SLIDER */

.product-section {
    position: relative;
    overflow: hidden;
    /* padding: 1.2rem; */
}

.product-category {
    
    margin-bottom: 2.2rem;
    text-transform: capitalize;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 2rem;
}

.view_box-container {
    display: flex;
    padding: 0 10vw;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.view_box-container::-webkit-scrollbar {
    display: none;
}

.view_box {
    cursor: pointer;
    flex: 0 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px;
    width: 250px;
    height: 400px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    /* Para garantir que a imagem não ultrapasse as bordas do contêiner */
}

.view_box img {
    width: 100%;
    height: 80%;
    object-fit: contain;
    /* Para manter a proporção da imagem */

    border-radius: 10px;
    margin-bottom: 15px;
}

.product-info {
    width: 100%;
    height: 120px;
    padding-top: 10px;
}

.product-brand {
    text-transform: uppercase;
}

.price {
    font-weight: 900;
    font-size: 20px;
}

.pre-btn,
.nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
   overflow: hidden;
    cursor: pointer;
    z-index: 8;
    opacity: 0.2;
}

.pre-btn:hover,
.nxt-btn:hover  {
  opacity: 1;
}
.pre-btn {
    left: 0;
    background: linear-gradient(180deg, rgba(216, 216, 216, 0) 0%, rgb(216, 216, 216 ) 100%);
}

.nxt-btn {
    right: 0;
    background: linear-gradient(90deg, rgba(216, 216, 216, 0) 0%, rgb(216, 216, 216 ) 100%);
}




@media screen and (max-width: 425px) {

    .view_box {
        object-fit: contain;
        flex: 0 0 auto;
        background-color: #fff;
        padding: 1rem;
        border-radius: 10px;
        margin-right: 1rem;
        width: 100px;
        height: 350px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
        overflow: hidden;
        /* Para garantir que a imagem não ultrapasse as bordas do contêiner */
    }
    .product-brand {
        text-transform: uppercase;
        font-size: 10px;
    }
    .price {
        font-weight: 900;
        font-size: 16px;
    }
}