body {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    color: rgb(0, 0, 0);
}

body {
    background-color: #ffffff;
    background-attachment: fixed;
}

.article:hover {
    background-color:rgb(105, 105, 105);
}
.view_box {
    
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    width: auto;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    overflow: hidden; /* Para garantir que a imagem não ultrapasse as bordas do contêiner */
}

.view_box:hover {
    transform: translateY(-10px);
}


.view_box img {
    width: auto;
    height: 26rem;
 /* Para manter a proporção da imagem */
    object-fit: cover; /* Para cobrir o contêiner mantendo a proporção */
    border-radius: 10px;
    margin-bottom: 15px;
}
 .view_box-container{
    width: calc(33.33% - 20px); /* Cada produto ocupa 1/3 do espaço disponível na linha */
}
.view_box-row {
    display: flex; /* Faz com que os produtos dentro da linha sejam exibidos em linha */
    justify-content: space-between; /* Distribui os produtos uniformemente na linha */
    margin-bottom: 20px; /* Espaçamento entre as linhas de produtos */
}
.view_box h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.view_box p {
    margin-top: 0;
    color: #888;
}

.hamburger-menu {
    display: none; /* Por padrão, o menu de hambúrguer não é exibido */
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
}

/* Estilos para o menu quando expandido */
.menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu.show {
    display: block;
}
@media screen and (max-width: 768px) {
    .view_box {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .view_box {
        width: calc(100% - 20px);
    }
}