#loginError {
    display: none;
  }
  
  article button {
    color: white;
    width: 100%;
    max-width: 250px;
    background-color: steelblue;
    cursor: pointer;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: rgb(216, 216, 216); /* Cinza claro para o fundo */
    color: #333; /* Preto para o texto */
    margin: 0;
    padding: 0;
  }
  
  /* Estilos gerais */
  .about-section {
    max-width: 824px;
    height: 100%;
    margin: 5rem auto;
    padding: 20px;
    background-color: #fff; /* Branco para o fundo do artigo */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra leve */
    margin-bottom: 3rem;
  }
  
  .section-title {
    text-align: center;
    color: #000; /* Preto para o título da seção */
    margin-bottom: 30px;
  }
  
  
  /*
  Responsividade
  Telas de 768px ou mais... 
  */