/* Oculta o card do usuário quando a página é carregada */
#userCard {
    display: none;
}


#userCard {
    width: 70%;
    
    display: block;
    margin: auto;
    background-color: #ffffff;
    border-radius: 3rem;
    
}

#userCard img {  
    display: block; 
    margin: auto;
    width: 20%;
    max-width: 1024px;
    border-radius: .3rem;
}

#userCard h4 {
    margin: .5rem 1rem 1rem 1rem;
}

#userCard ul {
    padding: 0 1rem 1rem 2rem;
    margin: 0;
    font-size: small;
}

article button {
    color: white;
    width: 100%;
    max-width: 250px;
    cursor: pointer;
}
.login{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
ul {
    list-style: none;
}
.panel{
    text-align: center;
}

#btnGoogleProfile {
    background-color: steelblue;
}

#btnLogout {
    background-color: orangered;
}