/* Oculta o card do usuário quando a página é carregada */
#userCard {
    display: none;
}


#userCard {
    width: 70%;
    text-align: center;
    display: block;
    margin: auto;
    background-color: #ffffff;
    border-radius: 3rem;
    
}

#userCard img {  
    display: block; 
    margin: auto;
    width: 20%;
    max-width: 1024px;
    border-radius: .3rem;
}

#userCard h4 {
    margin: .5rem 1rem 1rem 1rem;
}

#userCard ul {
    padding: 0 1rem 1rem 2rem;
    margin: 0;
    font-size: small;
}

article button {
    color: white;
    width: 100%;
    max-width: 250px;
    cursor: pointer;
}
.login{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
ul {
    list-style: none;
}
.panel{
    text-align: center;
}
.login {
    max-width: 824px;
    height: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* Branco para o fundo do artigo */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra leve */
    margin-bottom: 3rem;
}

.section-title {
    text-align: center;
    color: #000; /* Preto para o título da seção */
    margin-bottom: 30px;
}
#btnGoogleProfile {
    background-color: steelblue;
}

#btnLogout {
    background-color: orangered;
}